#container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    /*border: 1px solid #ccc;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-interests {
    height: 250px;
    width: 550px;
    background: #efefef;
    margin-left: 50px;
    border: 1px solid #ccc;
}